.components_forms_fields_wrappers_Basic {
    opacity: 1;
    margin-bottom: 10px;
}

.components_forms_fields_wrappers_Basic__label {
    display: block;
}

.components_forms_fields_wrappers_Basic__description {
    font-size: small;
    color: darkgray;
}

.components_forms_fields_wrappers_Basic--disabled {
    opacity: 0.3;
}

.components_forms_fields_wrappers_Basic--required > .components_forms_fields_wrappers_Basic__label:after {
    content: " *"
}

.components_forms_fields_wrappers_Basic__errors {
    color: red;
    display: inline-block;
    margin-left: 10px;
}